* { margin: 0; padding: 0; }

#container { width: 60%; min-width: 300px; display: table; margin: 0 auto; padding: 20px; }

#header { padding-bottom: 1em; }

#page-admin { padding-left: 120px; }
#page-admin #sidebar { width: 120px; }
#page-admin #container { width: 99%; display: table; margin: 0 auto; min-width: 0; }
#page-admin #dashboard { margin-top: 1em; }

#page-error #main { padding: 40px 60px; }
#page-error #main h1 { font-size: 38px; }
#page-error #main p { font-size: 22px; color: #d95c5c!important; }

#page-registration #main,
#page-login #main { padding: 60px; display: table; margin: 0 auto; width: 70% }

#player .icon { cursor: pointer; font-size: 1.2em; }
#player .icon:hover { color: orange; opacity: 0.95; transition-delay: 0.5; -webkit-transition-delay: 0.5s; -webkit-transition: color 500ms ease; -moz-transition: color 500ms ease; -ms-transition: color 500ms ease; -o-transition: color 500ms ease; transition: color 500ms ease; }
#player .button.group { display: inline-block; }
#player .song.slider   .container { display: inline-block; width: 180px; margin: 0 10px 3px 10px; }
#player .volume.slider .container { display: inline-block; width: 80px; margin: 0 10px 3px 10px; }
#player .song.slider   .value,
#player .volume.slider .value { width: 30px; display: inline-block; text-align: right; color: white; font-size: 0.8em; font-family: monospace; top: -2px; position: relative; }
#player .song.slider   .ui-slider-horizontal,
#player .volume.slider .ui-slider-horizontal { height: .4em; }
#player .song.slider   .ui-slider-horizontal .ui-slider-handle,
#player .volume.slider .ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
#player .song.slider   .ui-slider .ui-slider-handle,
#player .volume.slider .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	border: 1px solid rgba(0, 0, 0, 0.54);
	cursor: pointer!important;
	width: .8em;
	height: .8em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
	background: rgb(221, 220, 220)!important;
	border-width: 3px;
	border-style: double;
}

#footer { margin-top: 1em; }
#footer .description { padding-bottom: 1em; }
#footer .contacts p { margin: 0; }

.item.highlight { font-weight: bold; color: #d95c5c!important; }

.black { color: rgba(0,0,0,.8); }

.no-decoration { text-decoration: none!important; }

.bold { font-weight: bold!important; }

.right   { text-align: right!important; }
.center  { text-align: center!important; }
.justify { text-align: justify!important; }

.width-2  { width: 2%;  }
.width-3  { width: 3%;  }
.width-5  { width: 5%;  }
.width-10 { width: 10%; }
.width-15 { width: 15%; }
.width-20 { width: 20%; }
.width-25 { width: 25%; }
.width-30 { width: 30%; }
.width-33 { width: 33%; }

.invisible { display: none!important; }

.ui.popup { text-align: justify; }